@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-weight: 700px;
  font-size: 12px;
}

h6 {
  font-weight: 700px;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 0px 100px 0px 50px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#menu li a:hover,
#menu li a.ativo {
  color: #088178;
}

#menu li a.ativo::after,
#menu li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Início */

#slogan {
  background-color: #e3e6f3;
  background-image: url("img/jenniinthebox.png");
  height: 70vh;
  width: auto;
  background-position: top 25% right 15%;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

/* Adiciona a rotação contínua ao logo */
.logo {
  animation: rotateInfinite 10s linear infinite; /* 3s para a duração da rotação */
  transform-origin: center; /* Gira a partir do centro */
}

/* Defina a animação de rotação */
@keyframes rotateInfinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#slogan h4 {
  padding-bottom: 15px;
}

#slogan a {
  text-decoration: none;
}

#slogan h1 {
  color: #088178;
}

.animate__zoomInDown {
  animation: animate__zoomInDown;
  animation-duration: 2s;
}

.animate__zoomInUp {
  animation: animate__zoomInDown;
  animation-duration: 5s;
}

/* #slogan Button { 
  background-image: url(img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700px;
  font-size: 15px;
}
*/
#slogan .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  margin-left: 120px;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

#slogan .button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

#slogan .button:active {
  transform: scale(0.97);
}

#slogan .hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#slogan .hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(
    90deg,
    rgba(222, 0, 75, 1) 0%,
    rgba(191, 70, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

#slogan .button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* === removing default button style ===*/
.buttonw {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.buttonw {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --animation-color2: #dd2a7b;
  --fs-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
#insta .hover-text {
  color: var(--animation-color2);
  border-right: var(--border-right) solid var(--animation-color2);
  -webkit-text-stroke: 1px var(--animation-color2);
}

/* hover */
.buttonw:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

#insta .buttonw:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color2))
}

#recursos {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}

#recursos .rec-box {
  width: 180px;
  text-align:center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#recursos .rec-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#recursos rec-box img{
  width: 100%;
  margin-bottom: 10px;
}

#recursos .rec-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #d1e8f2;
}

#recursos .rec-box:nth-child(2) h6 {
  background-color: #fddde4;
}

#recursos .rec-box:nth-child(3) h6 {
  background-color: #cdebbc;
}

#recursos .rec-box:nth-child(4) h6 {
  background-color: #fff2e5;
}

#recursos .rec-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#recursos .rec-box:nth-child(6) h6 {
  background-color: #cdd4f8;
}